* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-section {
  background: rgba(255, 144, 14, 0.1);
  padding: 40px;
}
.navbar h1 {
  font-size: 40px;
  color: #131313;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.nav-links {
  display: flex;
}
ul {
  list-style: none;
}
.nav-links li {
  padding: 0 20px;
  font-size: 25px;
}
.nav-links li a {
  text-decoration: none;
  color: #727272;
}
.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}
.banner {
  margin-top: 50px;
}
.banner-content {
  max-width: 860px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.banner-description {
  font-size: 1rem;
}
.btn-primary {
  padding: 15px 40px;
  border: none;
  outline: none;
  font-size: 1.25rem;
  border-radius: 8px;
  cursor: pointer;
  background: #ff900e;
  margin-top: 20px;
  color: #fff;
}
.banner-pic {
  width: 100%;
}
.main {
  max-width: 1440px;
  margin: 0 auto;
}
.team-section {
  margin-top: 80px;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.image-site {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.image-site .grid-img {
  width: 100%;
}
.content-site {
  width: 40%;
}
.team-title {
  font-size: 3rem;
  margin-bottom: 20px;
}
.content-site p {
  font-size: 1.5rem;
}
.experience {
  display: flex;
  gap: 15px;
  padding: 20px;
  margin-top: 100px;
}
.features {
  width: 100%;
}
.card-img {
  width: 100%;
}
.card-img img {
  margin-top: -40px;
  width: 100%;
  height: 80%;
}
.features {
  padding: 20px;
}
.card-title {
  width: 550px;
}
.card-title h1 {
  font-size: 2.5rem;
  margin-bottom: 15px;
  border-left: 4px solid #ff900e;
  padding: 5px;
}
.card-title p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}
.card {
  width: 550px;
  margin-bottom: 30px;
  padding: 10px;
  box-shadow: 2px 2px 2px 2px #dddddd;
}
.card h5 {
  font-size: 1.3rem;
  margin-bottom: 15px;
}
.card p {
  font-size: 1.2rem;
  margin-bottom: 15px;
}
.stickars {
  width: 280px;
  height: 190px;
  background: #ff900e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  margin-top: -90px;
  position: relative;
  z-index: 1;
  margin-left: -100px;
}
.stickars h1 {
  font-size: 3rem;
  color: #fff;
  font-weight: bold;
}
.stickars p {
  font-size: 1.3rem;
  color: #fff;
}
@media screen and (max-width: 576px) {
  .navbar {
    flex-direction: column;
    margin-bottom: 15px;
  }
  .nav-links {
    flex-direction: column;
  }
  .banner-pic {
    width: 100%;
  }
  .banner-description {
    width: 100%;
  }
  .team-section {
    flex-direction: column;
  }
  .content-site {
    width: 100%;
  }
  .image-site {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
  .experience {
    flex-direction: column-reverse;
  }
  .card-img img {
    width: 100%;
  }
  .stickars h1 {
    font-size: 2rem;
  }
  .stickars p {
    font-size: 1rem;
  }
  .stickars {
    width: 200px;
    height: 100px;
    margin-left: -0;
  }
  .card {
    width: 100%;
  }
  .card-title {
    width: 100%;
  }
}
